* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(35, 38, 58, 44);
}

.box-hearder {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 120px;
    background-color: rgba(33, 35, 54, 41);
    height: 80px;

}

.box-hearder h2 {
    color: rgba(255, 74, 87, 155);
    font-size: 30px;
}

.nav-bar {
    width: 50%;
}

.conteudo-nav {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 50px;
    list-style: none;
    text-decoration: none;
}

.conteudo-nav a {
    text-decoration: none;
}

.item-nav {
    font-size: 20px;
    color: white;
    cursor: pointer;
    font-weight: bolder;
}

.item-nav:hover {
    color: rgba(255, 74, 87, 155);;
    border-bottom: 2px solid rgba(255, 74, 87, 155);
    transition: all 100ms ease-in-out;
}

.black-bg {
    background-color: rgba(35, 38, 58, 44);
    color: white;
}

.medio-width {
    z-index: -1;
    width: 80%;
    display: flex;
    flex-flow:  row wrap;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    padding-top: 80px;

}

.pequeno-height {
    height: 50vh;
}

.medio-height {
    height: 100vh;
}

.grande-height {
    height: 150vh;
}

.div-minhafoto {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    height: 450px;
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid rgba(255, 74, 87, 155);
}

.div-minhafoto img {
    position: absolute;
    top: 0;
    width: 100%;

}

.content-sobre {
    position: relative;
    height: 80%;
    width: 45%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: start;
    gap: 30px;
}

.content-sobre h1 {
    font-size: 50px;
    width: 70%;
    color: white;
}

.content-sobre h2 {
    font-size: 25px;
    width: 60%;
    color: white;
}

.content-sobre p {
    font-size: 16px;
    width: 80%;
}

.div-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.div-icons a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 2px solid rgba(255, 74, 87, 155);
    border-radius: 50%;
    background-color: rgba(35, 38, 58, 44);
    font-size: 30px;
    color: rgba(255, 74, 87, 155);;
}

.div-icons a:hover{
    border: none;
    background-color: rgba(255, 74, 87, 155);
    color: black;
    transition: all 400ms ease-in-out;
}

.content-sobre #btn-contratar {
    font-size: 16px;
    background-color: rgba(35, 38, 58, 44);
    border: 3px solid rgba(255, 74, 87, 155);
    border-radius: 25px;
    padding: 8px 18px;
    color: rgba(255, 74, 87, 155);;
    cursor: pointer;
}

.content-sobre #btn-contratar:hover {
    background-color: rgba(255, 74, 87, 155);
    color: rgba(35, 38, 58, 44);
    transition: all 400ms ease-in-out;
}


h2 {
    font-size: 30px;
    color: rgba(255, 74, 87, 155);
}

.skills-content {
    position: relative;
    width: 100%;
    height: 80%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.item-skill {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    width: 25%;
    height: 40%;
    background-color: rgba(43, 45, 65, 51);
    gap: 20px;
    transition: all 500ms ease-in-out;
}

.item-skill:hover {
    width: 28%;
    height: 43%;
    border: 2px solid rgba(255, 74, 87, 155);
    transition: all 400ms ease-in-out;
}

.icon-skill {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: rgba(255, 74, 87, 155);
}

.item-skill p{
    font-weight: bolder;
}


.project-content {
    position: relative;
    width: 100%;
    height: 80%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.item-project {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    width: 30%;
    height: 50%;
    background-color: rgba(43, 45, 65, 51);
    gap: 20px;
    transition: all 500ms ease-in-out;
}

.item-project:hover {
    width: 32%;
    height: 52%;
    transition: all 400ms ease-in-out;
    border: 2px solid rgba(255, 74, 87, 155);
}

.item-project p{
    position: relative;
    width: 80%;
}