* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(35, 38, 58, 44);
}

.box-hearder {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 120px;
    background-color: rgba(33, 35, 54, 41);
    height: 80px;

}

.box-hearder h2 {
    color: rgba(255, 74, 87, 155);
    font-size: 30px;
}

.conteudo-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    list-style: none;
    text-decoration: none;
}

.conteudo-nav a {
    text-decoration: none;
}

.item-nav {
    font-size: 20px;
    color: white;
    cursor: pointer;
    font-weight: bolder;
    font-family: "Poppins", serif;
    font-weight: 400;
}

.item-nav:hover {
    color: rgba(255, 74, 87, 155);
    border-bottom: 2px solid rgba(255, 74, 87, 155);
    transition: all 100ms ease-in-out;
}

.black-bg {
    background-color: rgba(35, 38, 58, 44);
    color: white;
}

.medio-width {
    position: relative;
    width: 80%;
    display: flex;
    flex-flow:  column wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    padding-top: 80px;

}

.pequeno-height {
    height: 50vh;
    padding-top: 40px;
}

.medio-height {
    height: 100vh;
}

.grande-height {
    height: 150vh;
}

.grid-sobremim {
    position: relative;
    width: 80%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1.4fr 1.5fr;
    align-items: center;
    margin: auto;
    gap: 30px;
    padding-top: 80px;

}

.box-foto {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.div-minhafoto {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    height: 450px;
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid rgba(255, 74, 87, 155);
}

.div-minhafoto img {
    position: absolute;
    top: 0;
    width: 100%;

}

.content-sobre {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: start;
    gap: 30px;
}

.content-sobre h1 {
    font-size: 50px;
    width: 80%;
    color: white;
    font-family: "Poppins", serif;
    font-weight: 800;
}

.content-sobre h2 {
    font-size: 30px;
    width: 70%;
    color: white;
    font-family: "Poppins", serif;
    font-weight: 600;
}

.content-sobre p {
    font-size: 16px;
    width: 100%;
    color: white;
    font-family: "Poppins", serif;
    font-weight: 400;
}

.div-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 30px;
}

.div-icons a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 2px solid rgba(255, 74, 87, 155);
    border-radius: 50%;
    background-color: rgba(35, 38, 58, 44);
    font-size: 25px;
    color: rgba(255, 74, 87, 155);
}

.div-icons a:hover {
    border: none;
    background-color: rgba(255, 74, 87, 155);
    color: rgba(35, 38, 58, 44);
    transition: all 400ms ease-in-out;
}

.content-sobre #btn-contratar {
    font-size: 20px;
    background-color: rgba(35, 38, 58, 44);
    border: 3px solid rgba(255, 74, 87, 155);
    border-radius: 25px;
    padding: 8px 18px;
    color: rgba(255, 74, 87, 155);;
    cursor: pointer;
    font-family: "Poppins", serif;
    font-weight: 400;
}

.content-sobre #btn-contratar:hover {
    background-color: rgba(255, 74, 87, 155);
    color: rgba(35, 38, 58, 44);
    transition: all 400ms ease-in-out;
}


h2 {
    font-size: 30px;
    color: rgba(255, 74, 87, 155);
    font-family: "Poppins", serif;
    font-weight: 600;

}

.skills-content {
    position: relative;
    width: 100%;
    height: 80%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.item-skill {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    width: 25%;
    height: 40%;
    background-color: rgba(43, 45, 65, 51);
    gap: 20px;
    transition: all 500ms ease-in-out;
    color: white;
    cursor:pointer;
}

.item-skill:hover {
    width: 28%;
    height: 43%;
    border: 2px solid rgba(255, 74, 87, 155);
    transition: all 400ms ease-in-out;
}

.icon-skill {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: rgba(255, 74, 87, 155);
}

.item-skill h3{
    font-family: "Poppins", serif;
    font-weight: 500;
}

.item-skill p{
    font-family: "Poppins", serif;
    font-weight: 400;
}


.project-content {
    position: relative;
    width: 100%;
    height: 80%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.item-project {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    width: 30%;
    height: 50%;
    background-color: rgba(43, 45, 65, 51);
    gap: 20px;
    transition: all 500ms ease-in-out;
    color: white;
}

.item-project:hover {
    width: 32%;
    height: 52%;
    transition: all 400ms ease-in-out;
    border: 2px solid rgba(255, 74, 87, 155);
}

.item-project h3{
    font-weight: bolder;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 25px;
}

.item-project img{
    position: relative;
    width: 80%;
    height: 40%;
}

.item-project p{
    position: relative;
    width: 80%;
    font-family: "Poppins", serif;
    font-weight: 400;
    text-align: center;
}

.contact-content {
    position: relative;
    width: 100%;
    height: 80%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}

.item-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    gap: 10px;
    width: 30%;
    height: 100%;
}

.item-contact i{
    font-size: 25px;
    color: rgba(255, 74, 87, 155);
}

.infos-contact {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: column wrap;
    gap: 5px;
}

.infos-contact h5 {
    font-size: 18px;
    color: white;
    font-family: "Poppins", serif;
    font-weight: bolder;
}

.infos-contact p, .infos-contact a {
    font-size: 16px;
    color: white;
    font-family: "Poppins", serif;
    font-weight: 200;
    text-decoration: none;
}




@media (max-width: 1555px) {

    .grande-height {
        height: 200vh;
    }
    

    .content-sobre h1 {
        font-size: 40px;
        width: 90%;

    }
    
    .content-sobre h2 {
        font-size: 25px;

    }

    .item-skill {

        width: 31%;
        height: 40%;

        gap: 20px;

    }

    .item-project {

        width: 31%;
        height: 45%;


    }

    .item-project img{
        position: relative;
        width: 250px;
        height: 150px;
    }

    
}

@media (max-width: 1400px) {

    .item-project {

        width: 45%;
        height: 31%;


    }

    .item-project h3{
        font-weight: bolder;
        font-family: "Poppins", serif;
        font-weight: 500;
        font-size: 20px;
    }
    
    .item-project img{
        position: relative;
        width: 250px;
        height: 150px;
    }
    
    .item-project p{
       font-size: 13px;
    }
    

    
}

@media (max-width: 1260px) {
    
    .medio-width {

        width: 90%;
        margin: auto;
    
    }

    .grid-sobremim {
        
        grid-template-columns: 1fr;
        height: 100vh;
        margin-top: 80px;
        width: 90%;
    
    }

    .div-minhafoto {
        height: 300px;
        width: 300px
    }

    .content-sobre {
        text-align: center;
        align-items: center;

    }

    .content-sobre h1 {
        font-size: 40px;

    }


    .content-sobre p {

        width: 80%;

    }

    
}

@media (max-width: 980px) {

    .medio-height {
        height: 250vh;
    }

    .medio-width {

        justify-content: flex-start;
        margin: 0 auto;
        padding-top: 100px;
        gap: 30px;
    
    }

    .box-hearder {

        justify-content: space-between;
        padding: 0 120px;
        
    
    }

    .skills-content {
        height: 95%;

    }

    .project-content {
        height: 95%;

    }


    .item-skill {

        width: 60%;
        height: 15%;

        gap: 10px;

    }

    .grande-height {
        height: 350vh;
    }

    .item-project {

        width: 80%;
        height: 16%;


    }

    .item-project h3{
        font-weight: bolder;
        font-family: "Poppins", serif;
        font-weight: 500;
        font-size: 20px;
    }
    
    .item-project img{
        position: relative;
        width: 300px;
        height: 200px;
    }
    
    .item-project p{
       font-size: 13px;
    }


    .pequeno-height {
        height:90vh;
    }

    .contact-content {
        position: relative;
        width: 100%;
        height: 80%;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: space-around;
        gap: 20px;
    }

    .item-contact {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column wrap;
        gap: 10px;
        width: 100%;
        height: 30%;
        
    }

    .infos-contact {
        align-items: center;
        justify-content: center;
        gap: 5px;
    }


    
}

@media (max-width: 900px) {

    .box-hearder {

        justify-content: space-between;
        padding: 0 80px;
        
    
    }

}

@media (max-width: 740px) {

    .box-hearder {

        padding: 0 60px; 
    
    }

    .conteudo-nav {

        gap: 30px;

    }
    

}



@media (max-width: 670px) {

    .grid-sobremim {
        position: relative;
        z-index: -1;
        width: 80%;
        min-height: 115vh;

    
    }

    .div-minhafoto {
        height: 250px;
        width: 250px
    }

    .content-sobre h1 {
        font-size: 30px;

    }


    .content-sobre p {

        width: 90%;

    }

    
    .content-sobre #btn-contratar {
        font-size: 20px;
        background-color: rgba(35, 38, 58, 44);
        border: 3px solid rgba(255, 74, 87, 155);
        border-radius: 25px;
        padding: 6px 15px;
        color: rgba(255, 74, 87, 155);;
        cursor: pointer;
        font-family: "Poppins", serif;
        font-weight: 400;
    }
    
    .content-sobre #btn-contratar:hover {
        background-color: rgba(255, 74, 87, 155);
        color: rgba(35, 38, 58, 44);
        transition: all 400ms ease-in-out;
    }

}

@media (max-width: 575px) {

    .item-skill {

        width: 80%;

    }

    .item-project img{
        width:250px;
        height: 150px;
    }

    .item-project {

        width: 95%;

    }

}

@media (max-width: 470px) {

    .grid-sobremim {
        width: 90%;
    
    }

    .content-sobre h1 {
        font-size: 30px;

    }


    .content-sobre p {

        width: 90%;
        font-size: 14px;

    }

    .pequeno-height {
        height:90vh;
    }

    .contact-content {
        position: relative;
        width: 100%;
        height: 80%;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: space-around;
        gap: 20px;
    }

    .item-contact {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column wrap;
        gap: 10px;
        width: 100%;
        height: 30%;
    }

    
    .infos-contact {
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

    
    .infos-contact p, .infos-contact a {
        font-size: 14px;
    } 

}

@media (max-width: 420px) {

    .grid-sobremim {

        min-height: 125vh;

    
    }

    .item-project img{
        position: relative;
        width: 200px;
        height: 100px;
    }

}

@media (max-width: 410px) {


    .content-sobre h1 {
        font-size: 25px;

    }

    .content-sobre h2 {
        font-size: 25px;

    }

}


@media (max-width: 400px) {

    .item-skill {

        width: 90%;

    }

    
    .item-skill p{
        font-size: 14px;
    }

    .icon-skill {

        font-size: 50px !important;

    }

}




